version: '3.9'
services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - ./redis-data:/data

  backend:
    build: ./backend
    container_name: task-backend
    ports:
      - "4000:4000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  frontend:
    build: ./frontend
    container_name: task-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
